@import "../../mixins.scss";

.skItem {
    .circle {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-bottom: 15px;

      @include md {
        width: 175px;
        height: 175px;
        margin-bottom: 25px;
      }
    }

    .row {
      width: 100%;
      height: 20px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .row2 {
      width: 75%;
      height: 20px;
      border-radius: 10px;
      margin: 0 auto;
    }
  }